inst/doc
.Rhistory
.DS_Store
vignettes/.DS_Store
vignettes/.DS_Store
vignettes/.DS_Store
vignettes/.DS_Store
vignettes/.DS_Store
benchmark/.DS_Store
*.history
benchmark/benchmark_res/benchmarkCategories.rds
benchmark/benchmark_res/benchmarkDims.rds
benchmark/benchmark_res/benchmarkFractions.rds
benchmark/benchmark_res/benchmarkNets.rds
benchmark/benchmark_res/benchmarkSparcity.rds
benchmark/high-dim-benchmarks/benchmark_res/benchmarkHighDims1.rds
benchmark/high-dim-benchmarks/benchmark_res/benchmarkHighDims2.rds
benchmark/high-dim-benchmarks/high-dim-benchmark.R
benchmark/high-dim-benchmarks/high-dim-d1000.R
benchmark/high-dim-benchmarks/high-dim-d1500.R
benchmark/high-dim-benchmarks/high-dim-d2000.R
benchmark/high-dim-benchmarks/high-dim-d500.R
benchmark/high-dim-benchmarks/high-dim-figures.R
benchmark/.DS_Store
benchmark/.DS_Store
benchmark/.DS_Store
benchmark/high-dim-benchmarks/benchmark_res/benchmarkHighDims3.rds
benchmark/high-dim-benchmarks/benchmark_res/benchmarkHighDims4.rds
benchmark/high-dim-benchmarks/benchmark_res/benchmarkHighDims7.rds
benchmark/high-dim-benchmarks/benchmark_res/old/benchmarkHighDims1.rds
benchmark/high-dim-benchmarks/benchmark_res/old/benchmarkHighDims2.rds
benchmark/high-dim-benchmarks/benchmark_res1/benchmarkHighDims1.rds
benchmark/high-dim-benchmarks/benchmark_res1/benchmarkHighDims2.rds
benchmark/high-dim-benchmarks/benchmark_res1/benchmarkHighDims3.rds
benchmark/high-dim-benchmarks/benchmark_res1/benchmarkHighDims4.rds
benchmark/high-dim-benchmarks/benchmark_res1/benchmarkHighDims7.rds
benchmark/high-dim-benchmarks/benchmark_res2/benchmarkHighDims1.rds
benchmark/high-dim-benchmarks/benchmark_res2/benchmarkHighDims2.rds
benchmark/high-dim-benchmarks/benchmark_res2/benchmarkHighDims3.rds
benchmark/high-dim-benchmarks/benchmark_res2/benchmarkHighDims4.rds
benchmark/high-dim-benchmarks/benchmark_res2/benchmarkHighDims7.rds
benchmark/high-dim-benchmarks/high-dim-d400.R
benchmark/high-dim-benchmarks/high-dim-d600.R
benchmark/high-dim-benchmarks/high-dim-d800.R
.Rproj.user
.Rbuildignore
